.CV {
    border: 1px solid black;
    max-width: 8.5in;
    max-height: 11in;
    padding: 5rem;
}

.personal {
    text-align: center;
}

.address {
    margin: 0;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.education {
    display: flex;
    justify-content: flex-end;
}

.degree {
    margin-right: auto;
}

.experience div{
    display: flex;
    justify-content: flex-end;
}

.experience h3 {
    margin-right: auto;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 16px;
    margin: 16px 0px;
}